html {
    height: 100%;
    font-size: 16px;
}

@media (max-width 767px) {
    html {
        font-size: 10px;
    }
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
    font-family: 'Roboto';
}

li {
    list-style: none;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 767px) {
    .g-off-desktop {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .g-off-mobile {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .bg-wrapper {
        background: none;
    }
}

.center {
    padding: 0 15px;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.ofi {
    -o-object-fit: cover;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}

.ofi-rounded {
    border-radius: 50%;
}

@media only screen and (max-width: 992px) {
    .hover-effect {
        width: 100%;
        display: block;
    }
}

.up-button {
    position: fixed;
    display: none;
    width: 30px;
    height: 30px;
    line-height: 28px;
    top: 80%;
    right: 2%;
    text-align: center;
    background: gray;
    color: #fff;
    z-index: 100;
}

@media (max-width: 767px) {
    .up-button {
        right: 8%;
    }
}

.up-button:hover {
    opacity: .5;
}

.btn-regular {
    padding: 0 5px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    width: 210px;
    line-height: 50px;
    border: ;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000;
    background: #feda00;
}

.btn-transparent {
    padding: 0 5px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    width: 210px;
    line-height: 50px;
    border: 2px solid;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    font-size: 1.125rem;
    color: #ba4687;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: white;
}

.snap {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
    transition: background .2s ease;
}

.snap._transparent-violet {
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    border: 2px solid #ba4687;
    color: #ba4687;
    background: transparent;
}

.snap._transparent-violet:hover {
    background-color: #ba4687;
    color: white;
}

.snap._transparent-gray {
    padding: 0 18px;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    border: 1px solid #c2c2c2;
    color: #c2c2c2;
}

.snap._painted {
    width: 100%;
    height: 53px;
    font-size: 18px;
    font-weight: 500;
    line-height: 52px;
    border: 2px solid #feda00;
    background: #feda00;
    -webkit-box-shadow: 3px 4px 7px rgba(39, 37, 37, 0.23);
    box-shadow: 3px 4px 7px rgba(39, 37, 37, 0.23);
    background-color: #fed700;
}

.search_bar__button > .snap._painted:hover {
	background: none;
}

.snap._yellow {
    line-height: 50px;
    border: 1px solid #ffd604;
    background-color: #ffd604;
}

.ic,
.icon-musician,
.icon-warehouse,
.icon-hot-dog,
.icon-technology,
.icon-forest,
.icon-electric-guitar,
.icon-microphone,
.icon-garland,
.icon-cocktail,
.icon-muffin,
.icon-car,
.icon-dress,
.icon-maid,
.icon-brush,
.icon-shop {
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 45px;
}

.icon-musician {
    background-image: url(../img/sprite.png);
    background-position: -135px -90px;
}

.icon-warehouse {
    background-image: url(../img/sprite.png);
    background-position: -90px -135px;
}

.icon-hot-dog {
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
}

.icon-technology {
    background-image: url(../img/sprite.png);
    background-position: -45px -135px;
}

.icon-forest {
    background-image: url(../img/sprite.png);
    background-position: -90px -45px;
}

.icon-electric-guitar {
    background-image: url(../img/sprite.png);
    background-position: -90px 0px;
}

.icon-microphone {
    background-image: url(../img/sprite.png);
    background-position: -135px 0px;
}

.icon-garland {
    background-image: url(../img/sprite.png);
    background-position: 0px -90px;
}

.icon-cocktail {
    background-image: url(../img/sprite.png);
    background-position: 0px -45px;
}

.icon-muffin {
    background-image: url(../img/sprite.png);
    background-position: -135px -45px;
}

.icon-car {
    background-image: url(../img/sprite.png);
    background-position: -45px -90px;
}

.icon-dress {
    background-image: url(../img/sprite.png);
    background-position: -45px -45px;
}

.icon-maid {
    background-image: url(../img/sprite.png);
    background-position: -90px -90px;
}

.icon-brush {
    background-image: url(../img/sprite.png);
    background-position: -45px 0px;
}

.icon-shop {
    background-image: url(../img/sprite.png);
    background-position: 0px -135px;
}

.ic-vk,
.ic-fb,
.ic-g,
i.m-close {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    background: url(../img/ic-vk.png) 0 0 no-repeat;
}

.ic-fb {
    background: url(../img/ic-fb.png) 0 0 no-repeat;
}

.ic-g {
    background: url(../img/ic-g.png) 0 0 no-repeat;
}

i.m-close {
    background: url(../img/close1.png) 0 0 no-repeat;
}

i.artist-like {
    display: inline-block;
    vertical-align: middle;
    width: 33px;
    height: 33px;
    background: url(../img/artist-like.png) 0 0 no-repeat;
    -webkit-transition: .3s;
    transition: .3s;
}

i.eye-view {
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 19px;
    background: url(../img/eye.png) 0 0 no-repeat;
    -webkit-transition: .3s;
    transition: .3s;
}

i.ic-home {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    width: 13px;
    height: 12px;
    background: url(../img/ic-home.png) 0 0 no-repeat;
}

.header {
    position: relative;
}

.header._abs-nav .navigation {
    position: absolute;
    padding: 15px 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.artist_card {
    padding: 30px 30px 20px;
    margin: 0 auto 30px;

    max-width: 100%;

    width: 100%;
    -webkit-box-shadow: 5px 9px 10px rgba(39, 37, 37, 0.13);
    box-shadow: 5px 9px 10px rgba(39, 37, 37, 0.13);
    background-color: #fff;
}

@media (max-width: 767px) {
    .artist_card {
        padding: 30px 15px 20px;
    }
}

.artist_card__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .artist_card__top {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.artist_card__avatar {
    margin-right: 30px;
    min-width: 189px;
    max-width: 189px;
    height: 188px;
    overflow: hidden;
}

@media (max-width: 1025px) {
    .artist_card__avatar {
        display: none;
    }
}

.artist_card__avatar img {
    width: 189px;
    height: 100%;

    border-radius: 50%;
}

.artist_card__content {
    -webkit-flex-basis: 830px;
    -ms-flex-preferred-size: 830px;
    flex-basis: 830px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.artist_card__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 6px;
}

.artist_card__like {
    margin-right: 17px;
}

@media (max-width: 1025px) {
    .artist_card__like {
        margin-right: 0;
    }
}

.artist_card__like a:hover .artist-like {
    background: url(../img/artist-like-active.png) 0 0 no-repeat;
}

.artist_card__name {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 22px;
    font-weight: 500;
    color: #554153;
}

@media (max-width: 1025px) {
    .artist_card__name {
        font-size: 18px;
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
    }
}

@media (max-width: 413px) {
    .artist_card__name {
        font-size: 16px;
    }
}

.artist_card__rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
}

@media (max-width: 1025px) {
    .artist_card__rating {
        margin-left: 0;
        -webkit-box-flex: 2;
        -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
        width: 100%;
    }
}

.artist_card__rating .reviews a {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    color: #554153;
    border-bottom: 1px solid transparent;
    -webkit-transition: .3s;
    transition: .3s;
}

.artist_card__rating .reviews a:hover {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    border-bottom: 1px solid #ba4687;
    color: #ba4687;
}

.artist_card__descr {
    height: 63px;
    overflow: hidden;
}

@media (max-width: 1025px) {
    .artist_card__descr {
        height: auto;
    }
}

.artist_card__price {
    padding-left: 52px;
    margin-bottom: 15px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    color: #ba4687;
}

@media (max-width: 1025px) {
    .artist_card__price {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 0;
    }
    .artist_card__price .snap {
        width: 170px;
    }
}

@media (max-width: 413px) {
    .artist_card__price .snap {
        margin-top: 10px;
        width: 100%;
    }
}

.artist_card__footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

@media (max-width: 1025px) {
    .artist_card__footer {
        margin-bottom: 15px;
    }
}

.artist_card__footer .location {
    color: #554153;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 413px) {
    .artist_card__footer .location {
        font-size: 16px;
    }
}

.artist_card__footer .button .snap {
    width: 160px;
}

.artist_card__gallery {
    margin-bottom: 20px;
}

.span_size {
    font-size: 22px;
}

.artist_card__parent-gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.artist_card__parent-gallery .gallery-item {
    -webkit-flex-basis: 189px;
    -ms-flex-preferred-size: 189px;
    flex-basis: 189px;
    width: 189px;
    height: 189px;
    background: silver;

    position: relative;

    overflow: hidden;
}

.gallery-item img {
    width: 189px;
    height: 100%;
}

/* text on the photo gallery-item */

.gallery-item-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 3px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}


.artist_card__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.artist_card__tags {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .artist_card__tags li {
        margin: 5px;
    }
}

.artist_card__tags .snap {
    margin-right: 10px;
}

.artist_card__views {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
}

.artist_card__views .amount {
    margin-left: 10px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    color: #554153;
}

.top-block-wrapper {
    position: relative;
}

.top-block {
    position: relative;
    margin-bottom: 50px;
}

@media (max-width: 1025px) {
    .top-block {
        margin-bottom: 87px;
    }
}

.top-block__item {
    height: 660px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.top-block__content {
    position: relative;
    border-top: 1px solid transparent;
}

.navigation {
    padding: 15px 0;
    background: rgba(125, 43, 94, 0.9);
}

.navigation__wrapper {
    display: table;
}

.navigation__logo {
    display: table-cell;
    width: 230px;
    overflow: hidden;
}

.navigation__nav {
    display: table-cell;
}

@media (max-width: 1025px) {
    .navigation__nav {
        display: none;
    }
}

.navigation__nav ul {
    text-align: right;
    margin-right: 5%;
}

.navigation__nav ul li {
    display: inline-block;
    vertical-align: middle;
}

.navigation__nav ul li a {
    position: relative;
    display: block;
    margin: 10px 25px;
    font-size: 1.125rem;
    color: #fff;
    -webkit-transition: all .3s;
    transition: all .3s;
    white-space: nowrap;
}

.navigation__nav ul li a::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 8px;
    height: 2px;
    background: #fed700;
    -webkit-transition: .3s;
    transition: .3s;
}

.navigation__nav ul li a:hover {
    text-decoration: none;
}

.navigation__nav ul li a:hover::before {
    width: 100%;
}

.navigation__nav ul li.current a::before {
    width: 100%;
}

.navigation__login-reg {
    display: table-cell;
}

@media (max-width: 1025px) {
    .navigation__login-reg {
        display: none;
    }
}

.navigation__login-reg a {
    display: block;
    padding: 10px 25px;
    margin-left: auto;
    max-width: 110px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;

    transition: all .2s ease-in-out;
}

/* add hover effect to btn "Войти" */

.navigation__login-reg a:hover {
    background-color: white;
    color: black;
}

.navigation__mobile {
    position: absolute;
    right: 0;
    top: 0;
}

.form {
    padding: 50px;
    max-width: 700px;
    width: 100%;
    background: rgba(186, 70, 135, 0.9);
}

@media (max-width: 767px) {
    .form {
        padding: 40px 20px;
    }
}

.form._position {
    position: absolute;
    bottom: 70px;
    right: 20%;
    z-index: 10;
}

@media (max-width: 767px) {
    .form._position {
        bottom: 30px;
        left: 0px;
        right: 0px;
        width: 98%;
        margin: 0 auto;
    }
}

.form__h3 {
    margin-bottom: 30px;
    font-size: 3.125rem;
    line-height: 3.125rem;
    text-align: center;
    color: #fff;
}

@media (max-width: 767px) {
    .form__h3 {
        font-size: 34px;
        line-height: 34px;
    }
}

.form__h3 span {
    display: block;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .form__h3 span {
        font-size: 40px;
        font-weight: 300;
    }
}

.form__inputs {
    font-size: 0;
}

.form__input {
    display: inline-block;
    vertical-align: top;
    line-height: 3.125rem;
    margin-right: 10px;
}

@media (max-width: 767px) {
    .form__input {
        display: block;
        text-align: center;
    }
}

.form__input:last-of-type {
    margin-right: 0;
}

.form__input input {
    padding: 0 15px;
    font-size: 16px;
    line-height: 3.125rem;
    border: none;
    -webkit-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.3);
}

.form__input input.input-search {
    width: 240px;
}

@media (max-width: 767px) {
    .form__input input.input-search {
        width: 100%;
    }
}

.form__input input.input-autocopmlete {
    width: 200px;
}

@media (max-width: 767px) {
    .form__input input.input-autocopmlete {
        width: 100%;
    }
}

.form__input input.btn-regular {
    padding: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    width: 140px;
    line-height: 50px;
    border: ;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    font-size: 1.375rem;
}

@media (max-width: 767px) {
    .form__input input.btn-regular {
        margin-top: 15px;
    }
}

.form__example {
    font-size: 1rem;
    color: #fff;
    opacity: .5;
}

@media (max-width: 767px) {
    .form__example {
        display: none;
    }
}

.form__example._mobile {
    margin: 5px 0 10px 0;
    text-align: center;
    font-weight: 300;
}

.numbs {
    display: inline-block;
    vertical-align: top;
}

.numbs__content {
    position: relative;
    width: 200px;
    font-size: 1.5rem;
    text-align: right;
}

.numbs__h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #554153;
}

.numbs__text {
    font-size: 1rem;
    font-weight: 300;
}

.numbs__numb {
    position: absolute;
    bottom: -34px;
    right: -150px;
    font-size: 20rem;
    line-height: 20rem;
    font-weight: bold;
    color: #feda00;
    z-index: -1;
}

@media (max-width: 767px) {
    .numbs__numb {
        bottom: -39px;
        right: -159px;
    }
}

@media (max-width: 413px) {
    .numbs__numb {
        right: -60px;
    }
}

.services {
    display: inline-block;
    vertical-align: top;
    width: 225px;
}

.services ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px;
    font-size: 1rem;
    font-weight: 300;
}

.services ul li:last-child {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .services ul li:last-child {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .services ul li {
        margin-bottom: 20px;
    }
}

.services ul li span {
    margin: 0 0 0 25px;
    font-weight: 300;
    font-size: 1rem;
    width: 140px;
}

.categories {
    margin-bottom: 75px;
}

.categories__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.categories__numbs {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

@media (max-width: 1025px) {
    .categories__numbs {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.categories__lists {
    padding: 30px 70px;
    border: 7px solid #f1f1f1;
}

@media (max-width: 1025px) {
    .categories__lists {
        display: block;
        padding: 30px 50px;
        margin-top: 30px;
    }
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

.touch {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px 20px;
    margin: 5px 30px 5px 0;
    text-align: center;
    width: 255px;
    height: 220px;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.4);
}

@media (max-width: 767px) {
    .touch {
        margin: 0 0 30px 0;
    }
    .touch:last-of-type {
        margin-bottom: 0;
    }
}

.touch:last-of-type {
    margin-right: 0;
}

.touch__text {
    padding: 0 15px;
    margin-bottom: 22px;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 300;
    overflow: hidden;
    max-height: -webkit-calc(76px);
    max-height: calc(76px);
}

.touch .btn-regular {
    margin-top: auto;
    font-size: 1.125rem;
    font-weight: 500;
}

.cooperation {
    position: relative;
    padding: 70px 0;
}

.cooperation::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 57%;
    height: 360px;
    background: #ba4687;
    z-index: -1;
}

@media (max-width: 767px) {
    .cooperation::before {
        height: 100%;
    }
}

.cooperation__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

@media (max-width: 767px) {}

.cooperation__blocks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .cooperation__blocks {
        display: inline-block;
    }
}

@media (max-width: 767px) {}

.cooperation__numbs .numbs__numb {
    right: auto;
    left: -100px;
    color: #f1f1f1;
    font-size: 25rem;
    z-index: -1;
}

.cooperation-mobile {
    margin: 100px 0;
}

.cooperation-mobile .numbs__content {
    margin-left: 70%;
}

@media (max-width: 413px) {
    .cooperation-mobile .numbs__content {
        margin-left: 30px;
    }
}

.cooperation-mobile .numbs__numb {
    left: -140px;
}

.order {
    position: relative;
    padding: 70px 0;
    margin-bottom: 100px;
}

@media (max-width: 767px) {
    .order {
        margin-bottom: 0;
    }
}

.order::before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 66%;
    height: 600px;
    background: url(../img/how_bg.png) 0 0 / cover no-repeat;
    z-index: -1;
}

@media (max-width: 767px) {
    .order::before {
        top: 333px;
        width: 100%;
        height: 74%;
    }
}

.order__wrapper {
    display: table;
}

.order__numbs,
.order__steps {
    display: table-cell;
    vertical-align: middle;
}

@media (max-width: 767px) {
    .order__numbs,
    .order__steps {
        display: block;
    }
}

@media (max-width: 767px) {
    .order__numbs .numbs__numb {
        font-size: 368px;
    }
}

@media (max-width: 767px) {
    .order__numbs {
        margin: 70px 0;
    }
}

.order__steps {
    padding-right: 45px;
    text-align: right;
}

@media (max-width: 413px) {
    .order__steps {
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .order__steps {
        padding-left: 50px;
    }
}

.order__steps .step {
    margin-right: 30px;
}

@media (max-width: 413px) {
    .order__steps .step {
        margin-right: 0;
    }
}

.order__steps .step:nth-child(2n) {
    margin-right: 0;
}

.step {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 310px;
}

@media (max-width: 767px) {
    .step {
        width: 100%;
        margin-bottom: 50px;
    }
    .step:last-child {
        margin-bottom: 0;
    }
}

.step:first-of-type {
    margin-bottom: 50px;
}

.step__h3 {
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-weight: 500;
}

@media (max-width: 767px) {
    .step__h3 {
        margin-bottom: 15px;
    }
}

.step__text {
    margin-bottom: 20px;
    height: 60px;
    font-size: 1rem;
    font-weight: 300;
    overflow: hidden;
    line-height: 1.2;
    max-height: -webkit-calc(57px);
    max-height: calc(57px);
}

.holidays {
    margin-bottom: 80px;
}

.holidays__wrapper {
    font-size: 0;
}

.holidays__left,
.holidays__center,
.holidays__right,
.holidays__l-wrapper {
    display: inline-block;
    vertical-align: top;
    margin-right: 29px;
    font-size: 0;
}

.holidays__l-wrapper {
    margin-right: 0;
}

.holidays__right {
    margin-right: 0;
}

.holidays__right .numbs {
    position: relative;
    z-index: 2;
}

.holidays__right .numbs__content {
    padding-left: 60px;
    width: 250px;
}

.holidays__right .numbs__h3 {
    width: 130px;
    text-align: left;
}

.holidays__right .numbs__text {
    text-align: left;
}

.holidays__right .numbs__numb {
    right: auto;
    top: -73px;
    left: -95px;
    font-size: 25rem;
    color: #f1f1f1;
}

.holidays__numb {
    margin-bottom: 27px;
    height: 240px;
}

.holidays__weiding {
    margin-bottom: 30px;
    width: 255px;
    height: 370px;
    overflow: hidden;
}

.holidays__birthday {
    width: 253px;
    height: 231px;
    overflow: hidden;
}

.holidays__birthday .holidays__title {
    margin: 0 auto;
    width: 120px;
    text-align: center;
}

.holidays__birthday .holidays__text {
    top: 110px;
}

.holidays__corporate {
    margin-bottom: 27px;
    max-width: 541px;
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.holidays__corporate .holidays__title {
    font-size: 1.25rem;
    line-height: 1.2;
    max-height: 54px;
    overflow: hidden;
    margin: 0 auto;
    width: 175px;
    text-align: center;
}

.holidays__corporate .holidays__text {
    top: 80px;
}

.holidays__corporate .holidays__title {
    color: #fff;
}

.holidays__childs {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    width: 256px;
    height: 365px;
    overflow: hidden;
}

.holidays__childs .holidays__text {
    top: 100px;
}

.holidays__childs .holidays__title {
    font-size: 1.25rem;
    line-height: 1.2;
    max-height: 54px;
    overflow: hidden;
}

.holidays__outdor {
    margin-bottom: 27px;
    width: 256px;
    height: 203px;
    overflow: hidden;
}

.holidays__outdor .holidays__text {
    top: 66px;
}

.holidays__outdor .holidays__title {
    font-size: 1.25rem;
    line-height: 1.2;
    max-height: 74px;
    overflow: hidden;
    margin: 0 auto;
    width: 125px;
    text-align: center;
    color: #fff;
}

.holidays__romantic {
    width: 255px;
    height: 136px;
    overflow: hidden;
}

.holidays__romantic .holidays__title {
    font-size: 1.25rem;
    line-height: 1.2;
    max-height: 74px;
    overflow: hidden;
    margin: 0 auto;
    width: 175px;
    text-align: center;
}

.holidays__tematic {
    margin-right: 0;
    width: 255px;
    height: 365px;
    overflow: hidden;
}

.holidays__tematic .holidays__text {
    top: 70px;
}

.holidays__tematic .holidays__title {
    font-size: 1.25rem;
    line-height: 1.2;
    max-height: 54px;
    overflow: hidden;
    margin: 0 auto;
    width: 155px;
    text-align: center;
    color: #fff;
}

.holidays__link {
    position: relative;
    display: block;
}

.holidays__link img {
    -webkit-transition: all .3s;
    transition: all .3s;
}

.holidays__link:hover img {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.holidays__link:hover .holidays__title {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
}

.holidays__link:hover .holidays__btn {
    opacity: 1;
}

.holidays__text {
    position: absolute;
    top: 0;
    left: 50%;
    top: 30px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
}

.holidays__text .btn-transparent {
    position: relative;
    width: 180px;
    border-color: #fff;
    color: #fff;
}

.holidays__text .btn-transparent::before,
.holidays__text .btn-transparent::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.5);
    -webkit-transition: .5s;
    transition: .5s;
    z-index: -1;
}

.holidays__text .btn-transparent::after {
    top: auto;
    bottom: 0;
}

.holidays__text .btn-transparent:hover {
    color: #fff;
}

.holidays__text .btn-transparent:hover::before {
    height: 50%;
}

.holidays__text .btn-transparent:hover::after {
    height: 50%;
}

.holidays__title {
    display: block;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #554153;
    font-weight: bold;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.holidays__btn {
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.holidays-mobile {
    position: relative;
}

.holidays-mobile__slider {
    margin-bottom: 50px;
}

.holidays-mobile__item {
    position: relative;
    width: 100%;
    height: 240px;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.holidays-mobile__block {
    position: relative;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.holidays-mobile__block .btn-transparent {
    color: #fff;
    border-color: #fff;
}

.holidays-mobile__title {
    display: block;
    margin: 0 auto 15px;
    width: 175px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.holidays-mobile__title._violet {
    color: #554153;
}

.holidays-mobile__title._wide {
    width: 240px;
}

.holidays-mobile .owl-nav {
    position: absolute;
    margin-top: 0;
    width: 100%;
    top: 40%;
}

.holidays-mobile .owl-nav .owl-prev,
.holidays-mobile .owl-nav .owl-next {
    position: absolute;
    margin: 0;
    left: 0;
    font-size: 0;
    width: 25px;
    height: 51px;
    background: url(../img/arrows-left.png) center / cover no-repeat;
}

.holidays-mobile .owl-nav .owl-prev:hover {
    background: url(../img/arrows-left.png) center / cover no-repeat;
}

.holidays-mobile .owl-nav .owl-next {
    left: auto;
    right: 0;
    background: url(../img/arrows-right.png) center / cover no-repeat;
}

.holidays-mobile .owl-nav .owl-next:hover {
    background: url(../img/arrows-right.png) center / cover no-repeat;
}

.holidays-mobile__numb {
    margin: 120px 0;
}

.holidays-mobile__numb .numbs__content {
    margin-left: 75%;
}

@media (max-width: 413px) {
    .holidays-mobile__numb .numbs__content {
        margin-left: 35%;
    }
}

.holidays-mobile__numb .numbs__h3 {
    text-align: left;
}

.holidays-mobile__numb .numbs__text {
    text-align: left;
}

.holidays-mobile__numb .numbs__numb {
    font-size: 400px;
    left: -90px;
    right: auto;
    color: #f1f1f1;
}

.bg-wrapper {
    position: relative;
}

.bg-wrapper::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background: url(../img/bg-blocks.jpg) 0 0 / cover no-repeat;
}

@media (max-width: 767px) {
    .bg-wrapper::before {
        background: none;
    }
}

.individual {
    position: relative;
    padding: 65px 0;
}

@media (max-width: 767px) {
    .individual {
        padding: 50px 0;
        padding-bottom: 35px;
    }
}

.individual::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background: none;
}

@media (max-width: 767px) {
    .individual::before {
        background: #f1f1f1 url(../img/zakazat_bg_mob.png) 0 0 no-repeat;
    }
}

.individual__block .step {
    position: relative;
    margin-left: 36%;
}

@media (max-width: 767px) {
    .individual__block .step {
        padding: 290px 40px 0 40px;
        margin-left: 0;
    }
}

.individual__block .step:first-of-type {
    margin-bottom: 0;
}

.individual__block .step .step__h3 {
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 767px) {
    .individual__block .step .step__h3 {
        width: 170px;
    }
}

.individual__block .step .step__text {
    width: 245px;
    color: #fff;
}

.individual__block .step .btn-regular {
    font-size: 1.25rem;
}

.individual__block .step .step__numb {
    position: absolute;
    left: -265px;
    top: -110px;
    font-size: 23.75rem;
    line-height: 23.75rem;
    font-weight: bold;
    color: #fff;
}

@media (max-width: 767px) {
    .individual__block .step .step__numb {
        left: 0;
        top: -90px;
    }
}

.company {
    position: relative;
    padding: 80px 0;
    background-position: 10px 0;
}

@media (max-width: 767px) {
    .company {
        padding-bottom: 30px;
    }
}

.company::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background: none;
    z-index: -1;
}

@media (max-width: 767px) {
    .company::before {
        background: #f1f1f1 url(../img/how_bg_mob.png) 0 0 no-repeat;
        z-index: -1;
    }
}

.company__wrapper {
    display: table;
    width: 100%;
}

.company__descr {
    display: table-cell;
    padding: 50px;
    width: 70%;
    border: 7px solid #fff;
}

@media (max-width: 767px) {
    .company__descr {
        padding: 25px;
        width: 100%;
    }
}

.company__descr p {
    margin-bottom: 25px;
    font-size: 1rem;
    font-weight: 300;
}

.company__descr p:last-of-type {
    margin-bottom: 0;
}

.company__numb {
    display: table-cell;
    padding-left: 95px;
    vertical-align: middle;
}

@media (max-width: 767px) {
    .company__numb {
        display: table-caption;
        margin-bottom: 90px;
    }
}

@media (max-width: 413px) {
    .company__numb {
        padding-left: 100px;
    }
}

.company__numb .numbs__h3,
.company__numb .numbs__text {
    position: relative;
    text-align: left;
    z-index: 1;
}

.company__numb .numbs__numb {
    right: auto;
    left: -150px;
    bottom: -54px;
    z-index: 0;
}

@media (max-width: 767px) {
    .company__numb .numbs__numb {
        font-size: 400px;
    }
}


/* Pagination */

/* Fix default style of bs pagination to normal style */
.pagination > li:first-child > a, 
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius: 50%;
}

.pagination > li > a {
    border: none;
    color: black;
    background: none;
}

.pagination > li > a:hover {
    background: none;
    color: black;
}

.pagination > li > .active-page-item {
    background: gold;
    border-radius: 50%;
}

.pagination > li > .active-page-item:hover { background-color: gold; }
/* end of pagination */


.socials {
    margin-bottom: 45px;
    text-align: center;
    background: #a33c73;
}

.socials ul li {
    display: inline-block;
    vertical-align: top;
}

.socials ul li a {
    display: block;
    padding: 10px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.socials ul li a:hover {
    opacity: .5;
}

.footer {
    background: #6c2443;
}

.footer-nav__logo {
    margin-bottom: 30px;
    text-align: center;
}

.footer-nav__links {
    margin-bottom: 50px;
}

.footer-nav__links ul {
    text-align: center;
}

.footer-nav__links ul li {
    display: inline-block;
    vertical-align: top;
}

.footer-nav__links ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    opacity: .5;
    -webkit-transition: .3s;
    transition: .3s;
}

.footer-nav__links ul li a:hover {
    opacity: 1;
}

.copyrights {
    padding-bottom: 15px;
    text-align: right;
}

.copyrights__text {
    margin-right: 16%;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    opacity: .4;
}

.copyrights__bonum a {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    opacity: .4;
}

.copyrights__bonum a span {
    vertical-align: middle;
}

.modal-enter-login .modal-dialog {
    max-width: 340px;
    width: 100%;
    margin: 30px auto 0;
}

.modal-enter-login .modal-content {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.modal-enter-login .modal-body {
    padding: 20px;
}

.modal-enter-login .modal-header {
    padding: 20px 20px 0 20px;
    border-bottom: none;
}

.modal-enter-login .modal-header button {
    opacity: 1;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.modal-enter-login .modal-title {
    font-size: 20px;
    color: #554153;
}

.modal-enter-login .m-form-link {
    display: block;
    padding-left: 25px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
    color: #b2a5a5;
}

.modal-enter-login .m-form-input input,
.modal-enter-login .m-form-input select {
    width: 100%;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    background: #fafafa;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-enter-login .m-form-input select {
    position: relative;
    font-size: 16px;
    color: #554153;
    background: #fafafa url(../img/select-arr-down.png) 260px center no-repeat;
}

.modal-enter-login .m-form-input select::-ms-expand {
    display: none;
}

.modal-enter-login .m-form-input select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.modal-enter-login .m-form-input .btn-regular {
    width: 100%;
    border: none;
    font-weight: bold;
    font-size: 18px;
    background: #feda00;
    -webkit-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.3);
}

.b-hamburger {
    position: absolute;
    display: inline-block;
    width: 45px;
    height: 45px;
    top: 21px;
    right: 30px;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background: transparent;
    z-index: 150;
}

@media (min-width: 1023px) {
    .b-hamburger {
        display: none;
    }
}

.b-hamburger.active {
    background: transparent;
}

.b-hamburger span {
    position: absolute;
    display: block;
    width: 21px;
    height: 2px;
    top: 20px;
    left: 10px;
    font-size: 0;
    background: #fff;
}

.b-hamburger span.active {
    background: transparent;
    left: 1px;
    top: 18px;
}

.b-hamburger span::before {
    position: absolute;
    content: '';
    top: -8px;
    left: 0;
    width: 21px;
    height: 2px;
    background: #fff;
    -webkit-transition: .3s;
    transition: .3s;
}

.b-hamburger span.active::before {
    -webkit-transform: rotate(-45deg) translate(0px, 7px);
    -ms-transform: rotate(-45deg) translate(0px, 7px);
    transform: rotate(-45deg) translate(0px, 7px);
    top: -3px;
    left: 1px;
    width: 27px;
    background: #fff;
}

.b-hamburger span::after {
    position: absolute;
    content: '';
    top: 8px;
    left: 0;
    width: 21px;
    height: 2px;
    background: #fff;
    -webkit-transition: .3s;
    transition: .3s;
}

.b-hamburger span.active::after {
    -webkit-transform: rotate(45deg) translate(0px, -8px);
    -ms-transform: rotate(45deg) translate(0px, -8px);
    transform: rotate(45deg) translate(0px, -8px);
    width: 27px;
    background: #fff;
}

.mobile-menu {
    position: absolute;
    padding: 30px 0 80px;
    top: -2000px;
    width: 100%;
    height: 100vh;
    z-index: 100;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
    background: rgba(111, 24, 104, 0.9);
}

@media (min-width: 1025px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu.toggle-menu {
    top: 79px;
    position: fixed;
}

.mobile-menu ul {
    text-align: center;
}

.mobile-menu ul li {
    margin-bottom: 20px;
}

.mobile-menu ul li.current a {
    border: 2px solid #feda00;
}

.mobile-menu ul li.current a::before {
    background: none;
}

.mobile-menu ul li a {
    display: inline-block;
    position: relative;
    padding: 13px 35px;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

.mobile-menu ul li a::before {
    position: absolute;
    content: '';
    margin-left: -8px;
    left: 50%;
    bottom: 0;
    width: 16px;
    height: 2px;
    background: #feda00;
}

.mobile-menu .btn-transparent {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    width: 140px;
    border-color: #fff;
    color: #fff;
    opacity: .5;
}

.textual {
    color: #554153;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
}

.breadcrumbs {
    margin-bottom: 39px;
}

.breadcrumbs ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.breadcrumbs ul li {
    position: relative;
    padding-right: 15px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    color: #ef32d9;
}

.breadcrumbs ul li::before {
    position: absolute;
    content: '/';
    right: 5px;
    bottom: 0;
    color: #000;
}

.breadcrumbs ul li:last-child::before {
    content: '';
}

.breadcrumbs ul li a {
    display: inline-block;
    vertical-align: middle;
    color: #554153;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
}

.confetti {
    padding: 15px 0 81px;
}

@media (max-width: 1025px) {
    .confetti {
        padding: 15px 0 15px;
    }
}

.search_bar._mb {
    margin-bottom: 12px;
}

.search_bar__input {
    -webkit-box-shadow: 2px 3px 7px rgba(39, 37, 37, 0.23);
    box-shadow: 2px 3px 7px rgba(39, 37, 37, 0.23);
    background-color: #ffffff;
}

@media (max-width: 1025px) {
    .search_bar__input {
        margin-bottom: 10px;
    }
}

.search_bar__input .selectric {
    border: 1px solid transparent;
}

.search_bar__input .selectric .label {
    padding: 0;
    height: 50px;
    text-align: left;
    line-height: 50px;
    font-size: 16px;
    font-weight: 300;
    color: #b5acb4;
}

.search_bar__input .selectric .button {
    height: 100%;
}

.search_bar__input .selectric .button:after {
    top: 10px;
    border: 8px solid transparent;
    border-top-color: #d6d6d6;
}

.search_bar__input._lh-sm {
    -webkit-box-shadow: 1px 2px 5px rgba(39, 37, 37, 0.1);
    box-shadow: 1px 2px 5px rgba(39, 37, 37, 0.1);
    background-color: #ffffff;
    /* Firefox 19+ */
    /* Firefox 18- */
}

.search_bar__input._lh-sm .selectric .label {
    height: 40px;
    line-height: 40px;
}

.search_bar__input._lh-sm input {
    padding: 0 15px;
    width: 100%;
    border: 0;
    line-height: 40px;
}

.search_bar__input._lh-sm input:focus {
    outline: none;
}

.search_bar__input._lh-sm ::-webkit-input-placeholder {
    color: #b5acb4;
    font-size: 16px;
    text-overflow: ellipsis;
}

.search_bar__input._lh-sm ::-moz-placeholder {
    color: #b5acb4;
    font-size: 16px;
    text-overflow: ellipsis;
}

.search_bar__input._lh-sm :-moz-placeholder {
    color: #b5acb4;
    font-size: 16px;
    text-overflow: ellipsis;
}

.search_bar__input._lh-sm :-ms-input-placeholder {
    color: #b5acb4;
    font-size: 16px;
    text-overflow: ellipsis;
}

.search_bar__title {
    padding-left: 45px;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    color: #554153;
}

.search_bar__title._mb {
    margin-bottom: 80px;
}

.star-rating {
    font-size: 0;
    margin-right: 10px;
}

.star-rating__wrap {
    display: inline-block;
    font-size: 14px;
}

.star-rating__wrap:after {
    content: "";
    display: table;
    clear: both;
}

.star-rating__ico {
    float: right;
    padding-left: 6px;
    cursor: pointer;
    color: #fed439;
}

.star-rating__ico {
    margin-bottom: 0;
}

.star-rating__ico:last-child {
    padding-left: 0;
}

.star-rating__input {
    display: none;
}

.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before {
    content: "\f005";
}

.art_item {
    position: relative;
    height: 280px;
}

.art_item._decor {
    text-align: center;
}

.art_item._decor .art_item__text {
    padding-top: 10px;
    font-weight: 300;
    color: #000;
}

.art_item__img {
    margin-bottom: 10px;
    width: 206px;
    height: 209px;
    overflow: hidden;
}

.art_item__img img {
    width: 206px;
    height: 100%;
}

.art_item__text {
    width: 206px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #554153;
}

.art_item .snap._painted {
    margin: 20px auto 0;
    width: 200px;
    color: #000;
}

.specialists {
    padding-bottom: 45px;
}

.specialists__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .specialists__list {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.specialists__item {
    position: relative;
    padding: 0 35px 0;
}

@media (max-width: 767px) {
    .specialists__item {
        padding-top: 35px;
    }
}

.specialists__item::before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #e1e1e1;
}

@media (max-width: 768px) {
    .specialists__item::before {
        content: none;
    }
}

.specialists__item::after {
    position: absolute;
    content: none;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background: #e1e1e1;
}

.specialists__item:nth-child(n + 5) {
    padding-top: 35px;
}

.specialists__item:nth-child(n + 5)::after {
    content: '';
}

.specialists__item:nth-child(4n)::before {
    content: none;
}

.specialists__item:nth-child(4n)::after {
    right: 35px;
}

@media (max-width: 768px) {
    .specialists__item:nth-child(4n)::after {
        right: 0;
    }
}

.specialists__item:nth-child(4n + 1)::after {
    left: 35px;
}

@media (max-width: 768px) {
    .specialists__item:nth-child(4n + 1)::after {
        left: 0;
    }
}

.specialists__item:last-child::before,
.specialists__item:last-child::after {
    content: none;
}
